/******************************
			Globals
*******************************/
*{
	font-family: 'Montserrat', sans-serif;
}

/******************************
			Header
*******************************/
header{
	margin: 20px 0;
}
.brand{
	display: block;
	margin-bottom: 20px;
}
.brand img{
	width: 100%;
}
#login-welcome{
	background-color: #f5f5f5;
	border-radius: 4px;
}
#login-welcome p{
	padding: 8px 15px;
	margin: 0;
}
.navbar-collapse{
	padding: 0;
}
.navbar-skitt{
	border-radius: 4px;
	background-color: #f5f5f5;
}
.breadcrumb{
	margin-bottom: 0;
	float: left
}
.sign-out-btn{
	padding: 8px 15px;
	background-color: transparent;
	border: none;
	float: right;
}
@media (max-width: 768px) {
	.breadcrumb{
		float: none;
	}
	.sign-out-btn{
		float: none;
		display: block;
	}
}

/******************************
			Home Page
*******************************/
.front-menu > a{
	display: block;
	background-color: #33CCFF;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 10px;
}
.front-menu > a + a{
	margin-top: 10px;
}
.front-menu > a:hover{
	text-decoration: none;
	background-color: white;
	color: #33CCFF;
}

/******************************
			Footer
*******************************/
footer{
	margin-top: 20px;
}
.copyright{
	border-top: solid 1px #eee;
	text-align: center;
	padding: 15px 0;
}