/******************************
			Globals
*******************************/
*{
	font-family: 'Montserrat', sans-serif;
}

/******************************
			Header
*******************************/
header{
	margin: 20px 0;
}
.brand{
	display: block;
	margin-bottom: 20px;
}
.brand img{
	width: 100%;
}
.infobar{
	overflow: auto;
	background-color: #ecf0f1;
	border-radius: 4px;
}
.infobar > p{
	float: left;
	width: calc(100% - 40px);
	padding: 8px 15px;
	margin: 0;
}
.infobar-signout-btn{
	padding: 8px 15px;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: auto;
}
.signout-collapse-btn{
	border: none;
	text-align: center;
	width: 40px;
	padding: 8px 5px;
}
.signout-collapse-container{
	display: none;
}
@media (min-width: 768px) {
	.infobar > p{
		width: calc(100% - 100px);
	}
	.infobar-signout-btn{
		width: 100px;
		margin: 0 auto;
		border-left: solid 1px #D8D8D8;
	}
	.signout-collapse-container{
		display: block !important;
	}
}
/******************************
			Home Page
*******************************/
.front-menu > a{
	display: block;
	background-color: #34495e;
	border-radius: 4px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 10px;
}
.front-menu > a + a{
	margin-top: 10px;
}
.front-menu > a:hover{
	text-decoration: none;
	background-color: white;
	color: #34495e;
}

/******************************
			Student Profile
*******************************/
.profile-details-table {
	width: 100%;
}
.profile-details-table > tr{
	width: 100%;
}
.profile-details-table > tbody > tr > td {
	padding: 3px 0;
}
.profile-details-table > tbody > tr > td:first-child {
	width: 100px;
}
.profile-details-table > tbody > tr > td:last-child {
	width: calc(100% - 100px);
}
.profile-custom-well {
	padding: 15px;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	background-color: #ecf0f1;
}
.profile-list {
	padding: 0;
}
.profile-list > h4{
	cursor: pointer;
	text-transform: uppercase;
	padding: 15px;
	background-color: #16a085;
	margin: 0;
	color: white;
}
.profile-semester-data {
	width: 100%;
	margin-bottom: 0;
	display: none;
}
.profile-semester-active{
	display: block !important;
}
.profile-semester-data > tbody > tr > td:first-child{
	width: 15%;
}
.profile-semester-data > tbody > tr > td:nth-child(2){
	width: 75%;
}
/******************************
			Footer
*******************************/
footer{
	margin-top: 20px;
}
.copyright{
	border-top: solid 1px #eee;
	text-align: center;
	padding: 15px 0;
}