/******************************
			Globals
*******************************/
*{
	font-family: 'Montserrat', sans-serif;
}

/******************************
			Header
*******************************/
header{
	margin: 20px 0;
}
.brand{
	display: block;
	margin-bottom: 20px;
}
.brand img{
	width: 100%;
}
.infobar{
	overflow: auto;
	background-color: #F5F5F5;
	border-radius: 4px;
}
.infobar > p{
	float: left;
	width: calc(100% - 40px);
	padding: 8px 15px;
	margin: 0;
}
.infobar-signout-btn{
	padding: 8px 15px;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: auto;
}
.signout-collapse-btn{
	border: none;
	text-align: center;
	width: 40px;
	padding: 8px 5px;
}
.signout-collapse-container{
	display: none;
}
@media (min-width: 768px) {
	.infobar > p{
		width: calc(100% - 100px);
	}
	.infobar-signout-btn{
		width: 100px;
		margin: 0 auto;
		border-left: solid 1px #D8D8D8;
	}
	.signout-collapse-container{
		display: block !important;
	}
}
/******************************
			Home Page
*******************************/
.front-menu > a{
	display: block;
	background-color: #33CCFF;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 10px;
}
.front-menu > a + a{
	margin-top: 10px;
}
.front-menu > a:hover{
	text-decoration: none;
	background-color: white;
	color: #33CCFF;
}

/******************************
			Footer
*******************************/
footer{
	margin-top: 20px;
}
.copyright{
	border-top: solid 1px #eee;
	text-align: center;
	padding: 15px 0;
}