/******************************
			Globals
*******************************/
*{
	font-family: 'Montserrat', sans-serif;
}
.fix-icon {
	font-size: .78em;
}
/******************************
			Header
*******************************/
header{
	margin: 20px 0;
}
.brand{
	display: block;
	margin-bottom: 20px;
}
.brand img{
	width: 100%;
}
.infobar{
	overflow: auto;
	background-color: #ecf0f1;
	border-radius: 4px;
}
.infobar > p{
	float: left;
	width: calc(100% - 40px);
	padding: 8px 15px;
	margin: 0;
}
.infobar-signout-btn{
	padding: 8px 15px;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: auto;
}
.signout-collapse-btn{
	border: none;
	text-align: center;
	width: 40px;
	padding: 8px 5px;
}
.signout-collapse-container{
	display: none;
}
@media (min-width: 768px) {
	.infobar > p{
		width: calc(100% - 100px);
	}
	.infobar-signout-btn{
		width: 100px;
		margin: 0 auto;
		border-left: solid 1px #D8D8D8;
	}
	.signout-collapse-container{
		display: block !important;
	}
}
/******************************
			Scheduler
*******************************/
.scheduler-app{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ecf0f1;
	border: solid 1px #7f8c8d;
	border: 5px;
	color: white;
}
.scheduler-title {
	text-align: center;
	color: #2c3e50;
}
.scheduler-row {
	clear: both;
}
.scheduler-half {
	width: 50%;
	float: left;
}
.scheduler-full {
	width: 100%;
}
.scheduler-header{
	margin: 0;
	padding: 15px 15px;
}
.scheduler-pref {
	background-color: #16a085;
	overflow: hidden;
}
.scheduler-pref h3{
	cursor: pointer;
	float: left;
	width: calc(100% - 60px);
}
.scheduler-pref button{
	float: left;
	width: 60px;
	font-size: 18px;
	padding: 0 15px;
	color: white;
	background-color: transparent;
	border: none;
	border-left: 1px solid white;
	line-height: 56px;
}
.scheduler-pref button:focus{
	outline:none;
}
#scheduler-pref {
	color: #2c3e50;
	background-color: #ecf0f1;
	overflow: hidden;
}
.scheduler-pref-time p{
	padding: 0;
	margin: 15px 15px;
	text-transform: uppercase;
}
.scheduler-pref-time p:hover{
	cursor: pointer;
	text-decoration:line-through;
}
.scheduler-search {
	background-color: #bdc3c7;
	height: 56px;
	overflow: hidden;
}
.scheduler-search h3{
	margin: 0;
	padding: 15px;
}
.scheduler-search input{
	color: #2c3e50;
	font-size: 20px;
	height: 56px;
	width: 100%;
	border: none;
	padding: 10px 15px;
	box-sizing: border-box;
	text-transform: uppercase;
}
.scheduler-search input:focus{
	outline: none;
}
#blink_underscore{
	color: white;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
@keyframes "blink" {
	from, to { color: transparent;  }
	50% { color: white;  }
}
@keyframes "blink" {
	from, to {  color: transparent;  }
	50% { color: white;  }
}
@-moz-keyframes blink {
	from, to { color: transparent;  }
	50% { color: white;  }
}
@-webkit-keyframes "blink" {
	from, to {  color: transparent;  }
	50% {  color: white; }
}
@-ms-keyframes "blink" {
	from, to {  color: transparent;  }
	50% {  color: white;  }
}
@-o-keyframes "blink" {
	from, to {  color: transparent;  }
	50% {  color: white;  }
}
.scheduler-auto-btn {
    text-align: center;
    background-color: #18a186;
    font-size: inherit;
    border-radius: 4px;
    color: white;
    border:none;
    line-height: 1;
    float: right;
}
.scheduler-courses h3{
	background-color: #2c3e50;
	margin: 0;
	padding: 15px 15px;
}
.scheduler-results > div:first-child{
	overflow: hidden;
}
.scheduler-results h3{
	background-color: #2c3e50;
	margin: 0;
	padding: 15px 15px;
}
.scheduler-list-group{
	margin: 0;
	color:#2c3e50;
}
.scheduler-list-item:first-child{
	border-radius: 0;
}
.scheduler-list-item:last-child{
	overflow: hidden;
	border-radius: 0;
}
.scheduler-registered h3{
	background-color: #2980b9;
}
.scheduler-commit {
	background-color: #e74c3c;
}
.scheduler-schedule {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #95a5a6;
}
.scheduler-modal{
	border-radius: 5px;
	box-shadow: none;
}
@media (max-width: 768px) {
	.scheduler-app h3{
		font-size:1.25em;
	}
	.scheduler-list-item{
		font-size: .95em;
	}
	.scheduler-half {
		width: 100%;
	}
	.scheduler-search {
		height: 49px;
	}
	.scheduler-search input{
		height: 49px;
		font-size: 16px;
	}
	.scheduler-pref button{
		line-height: 49px;
	}
}
/******************************
			Home Page
*******************************/
.front-menu > a{
	display: block;
	background-color: #34495e;
	border-radius: 4px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 10px;
}
.front-menu > a + a{
	margin-top: 10px;
}
.front-menu > a:hover{
	text-decoration: none;
	background-color: white;
	color: #34495e;
}

/******************************
			Student Profile
*******************************/
.profile-details-table {
	width: 100%;
}
.profile-details-table > tr{
	width: 100%;
}
.profile-details-table > tbody > tr > td {
	padding: 3px 0;
}
.profile-details-table > tbody > tr > td:first-child {
	width: 100px;
}
.profile-details-table > tbody > tr > td:last-child {
	width: calc(100% - 100px);
}
.profile-custom-well {
	padding: 15px;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	background-color: #ecf0f1;
}
.profile-list {
	padding: 0;
}
.profile-list > h4{
	cursor: pointer;
	text-transform: uppercase;
	padding: 15px;
	background-color: #16a085;
	margin: 0;
	color: white;
}
.profile-semester-data {
	width: 100%;
	margin-bottom: 0;
	display: none;
}
.profile-semester-active{
	display: block !important;
}
.profile-semester-data > tbody > tr > td:first-child{
	width: 15%;
}
.profile-semester-data > tbody > tr > td:nth-child(2){
	width: 75%;
}
/******************************
			Footer
*******************************/
footer{
	margin-top: 20px;
}
.copyright{
	border-top: solid 1px #eee;
	text-align: center;
	padding: 15px 0;
}