/******************************
			Globals
*******************************/
*{
	font-family: 'Montserrat', sans-serif;
}
.fix-icon {
	font-size: .78em;
}
/******************************
			Header
*******************************/
header{
	margin: 20px 0;
}
.brand{
	display: block;
	margin-bottom: 20px;
}
.brand img{
	width: 100%;
}
.infobar{
	overflow: auto;
	background-color: #ecf0f1;
	border-radius: 4px;
}
.infobar > p{
	float: left;
	width: calc(100% - 40px);
	padding: 8px 15px;
	margin: 0;
}
.infobar-signout-btn{
	padding: 8px 15px;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: auto;
}
.signout-collapse-btn{
	border: none;
	text-align: center;
	width: 40px;
	padding: 8px 5px;
}
.signout-collapse-container{
	display: none;
}
@media (min-width: 768px) {
	.infobar > p{
		width: calc(100% - 100px);
	}
	.infobar-signout-btn{
		width: 100px;
		margin: 0 auto;
		border-left: solid 1px #D8D8D8;
	}
	.signout-collapse-container{
		display: block !important;
	}
}
/******************************
			Scheduler
*******************************/
.scheduler-app{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ecf0f1;
	border: solid 1px #7f8c8d;
	border: 5px;
	color: white;
}
.scheduler-title {
	text-align: center;
	color: #2c3e50;
}
.scheduler-row {
	clear: both;
}
.scheduler-left {
	width: 35%;
	float: left;
}
.scheduler-right{
	width: 65%;
	float: left;
}
.scheduler-full {
	width: 100%;
}
.scheduler-header{
	margin: 0;
	padding: 15px 15px;
}
.scheduler-pref {
	background-color: #16a085;
	overflow: hidden;
}
.scheduler-pref h3{
	cursor: pointer;
	float: left;
	width: calc(100% - 60px);
}
.scheduler-pref button{
	float: left;
	width: 60px;
	font-size: 18px;
	padding: 0 15px;
	color: white;
	background-color: transparent;
	border: none;
	border-left: 1px solid white;
	line-height: 56px;
}
.scheduler-pref button:focus{
	outline:none;
}
#scheduler-pref {
	color: #2c3e50;
	background-color: #ecf0f1;
	overflow: hidden;
}
.scheduler-pref-time p{
	padding: 0;
	margin: 15px 15px;
	text-transform: uppercase;
}
.scheduler-pref-time p:hover{
	cursor: pointer;
	text-decoration:line-through;
}
#scheduler-search{
	height: 56px;
	color: #2c3e50;
	font-size: 16px;
	width: 100%;
	border: none;
	padding: 10px 15px;
	box-sizing: border-box;
	text-transform: uppercase;
}
.ui-menu{
	background-color: white;
	box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.50);
}
.ui-state-focus{
	background-color: #00cc99;
}
.scheduler-auto-btn {
    text-align: center;
    background-color: #18a186;
    font-size: inherit;
    border-radius: 4px;
    color: white;
    border:none;
    line-height: 1;
    float: right;
}
.scheduler-courses h3{
	background-color: #2c3e50;
	margin: 0;
	padding: 15px 15px;
}
.scheduler-results > div:first-child{
	overflow: hidden;
}
.scheduler-results h3{
	background-color: #2c3e50;
	margin: 0;
	padding: 15px 15px;
}
.scheduler-list-group{
	margin: 0;
	color:#2c3e50;
	max-height: 300px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
}
.scheduler-list-item:first-child{
	border-radius: 0;
}
.scheduler-list-item:last-child{
	overflow: hidden;
	border-radius: 0;
}
.scheduler-registered h3{
	background-color: #2980b9;
}
.scheduler-commit {
	cursor: pointer;
	background-color: #e74c3c;
}
.scheduler-schedule {
	background-color: #95a5a6;
}
.scheduler-modal{
	border-radius: 5px;
	box-shadow: none;
}
.scheduler-cells{
	text-align: center;
	vertical-align: middle !important;
}
.scheduler-details{
	margin-bottom: 0;
	color: black;
}
.scheduler-details > table{
	margin-bottom: 0;
}
.scheduler-details > table> thead > tr > th{
	border: none;
}
.scheduler-details > table > tbody{
	background-color: #ffffff;
}
#schedule-div > table >tbody>tr>td{
	padding: 0;
}
.green {
	background-color: #00cc99;
}
.yellow {
	background-color: #ffff99;
}
.generated-course-item:hover{
	cursor: pointer;
	background-color: #f2dede;
	color: #a94442;
}
.scheduler-notify{
	position: fixed;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 130px;
	z-index: 999;
}
#scheduler-notify-item{
	font-size: 2em;
	border-radius: 4px;
	background-color: #2ecc71;
	padding: 15px;
	color: white;
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
}
@media (max-width: 992px) {
	.scheduler-app h3{
		font-size:1.25em;
	}
	.scheduler-list-item{
		font-size: .95em;
	}
	.scheduler-left, .scheduler-right {
		width: 100%;
	}
	.scheduler-search {
		height: 49px;
	}
	.scheduler-search input{
		height: 49px;
		font-size: 16px;
	}
	.scheduler-pref button{
		line-height: 49px;
	}
}
/******************************
			Home Page
*******************************/
.front-menu, .front-menu:focus, .front-menu:hover{
	display: block;
	background-color: #34495e;
	border-radius: 4px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 10px;
	text-decoration: none;
}
.front-menu + .front-menu{
	margin-top: 10px;
}
.front-menu:hover{
	background-color: white;
	color: #34495e;
}
.front-dropdown{
	padding: 5px 5px;
	width: 100%;
	background-color: #16a085;
	border-radius: 4px;
	list-style-type: none;
}
.front-dropdown > li > a{
	color: white;
	display: block;
}
.front-dropdown > li{
	padding: 2px 3px;
}
/******************************
			Student Profile
*******************************/
.profile-details-table {
	width: 100%;
}
.profile-details-table > tr{
	width: 100%;
}
.profile-details-table > tbody > tr > td {
	padding: 3px 0;
}
.profile-details-table > tbody > tr > td:first-child {
	width: 100px;
}
.profile-details-table > tbody > tr > td:last-child {
	width: calc(100% - 100px);
}
.profile-custom-well {
	padding: 15px;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	background-color: #ecf0f1;
}
.profile-list {
	padding: 0;
}
.profile-list > h4{
	text-transform: uppercase;
	padding: 8px 15px;
	margin: 0;
	background-color: #ecf0f1;
}
.profile-table {
	margin-bottom: 0;
}
/******************************
			Footer
*******************************/
footer{
	margin-top: 20px;
}
.copyright{
	border-top: solid 1px #eee;
	text-align: center;
	padding: 15px 0;
}