<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/ico" href="../../webroot/resources/img/favicon.ico" />

	<title>mytinerary | scheduler</title>

	<link href="../../webroot/resources/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../webroot/resources/css/normalize.css" rel="stylesheet">
	<link href="../../webroot/resources/css/main.css" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	
</head>
<body>

	<header class="container">

		<div class="row">
			<div class="col-sm-6 col-md-5">
				<a class="brand" href="#"><img src="../../webroot/resources/img/logo.png"></a>
			</div>
		</div>

		<div class="infobar">
			<p>Scheduler</p>
			<button class="btn visible-xs-block pull-right signout-collapse-btn" type="button" data-toggle="collapse" aria-expanded="false" data-target="#signout-container"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
			<div class="signout-collapse-container" id="signout-container">
				<form></form>
					<button class="infobar-signout-btn" type="submit">Sign Out</button>
				</form>
			</div>
		</div>

	</header>
	<main class="container">
	</main>
	<footer>
		<div class="container">
			<p class="copyright">&copy; Copyright 2016 | mytinerary</p>
		</div>
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../webroot/resources/js/bootstrap.min.js"></script>

</body>
</html>